/lab01/
/lab2/1/
/lab2/2/lab2/nbproject/private/
/lab2/2/lab2/lab2-war/nbproject/private/
/lab2/2/lab2/lab2-ejb/nbproject/private/
/lab3/1/lab3/nbproject/private/
/lab3/1/lab3.2/lab3.2/nbproject/private/
/lab4/1/4/lab04/nbproject/private/
/lab4/5/EJBModule2/nbproject/private/
/lab4/5/EJBModule1/nbproject/private/