<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userList</servlet-name>
        <servlet-class>controllersUser.userList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>controllersUser.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>controllersUser.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carList</servlet-name>
        <servlet-class>controllersCar.carList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCar</servlet-name>
        <servlet-class>controllerCar.addCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionControllers</servlet-name>
        <servlet-class>controllers.TransactionControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userList</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carList</servlet-name>
        <url-pattern>/carList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCar</servlet-name>
        <url-pattern>/addCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionControllers</servlet-name>
        <url-pattern>/transactionControllers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>